/*
    background-color -> Seting the background color of the body to #fbf0e4.
    font-family -> Setting the font family of the body to "Georgia", "Times New Roman", serif.
*/
body {
  background-color: #fff7ef;
  font-family: "Georgia", "Times New Roman", serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

main {
  min-height: 80vh;
}

/*
    font-family -> Setting the font family of the h1, h2, h3, h4, h5, h6 to "Helvetica", "Verdana", sans-serif.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", "Verdana", sans-serif;
}
/*
    background-color -> Seting the background color of the form to #fffdfb66.
*/
form {
  background-color: #fffdfb66;
}

/*
    list-style-type: none -> Removing the default list style.
*/
li {
  list-style-type: none;
}

/*
    text-decoration: none -> Removing the default text decoration.
*/
a {
  text-decoration: none;
}

/*  When hovering over an anchor tag, the following styles will be applied.

    text-decoration: underline -> Adding an underline to the text.
    color: blue -> Setting the color of the text to blue.
*/
a:hover {
  text-decoration: underline;
}

/*  When an anchor tag is visited, the following styles will be applied.

*/
a:visited {
  color: rgb(128, 0, 70);
}

a:active {
  opacity: 0.7;
}

a:link {
  color: #8b4513;
}

/*  spin -> Creating a custom animation called sway. 
     transform: rotate(x); -> Rotating the element by x degrees.
*/
@keyframes sway {
  0% {
    transform: rotate(-20deg);
  }

  25% {
    transform: rotate(90deg);
  }

  75% {
    transform: rotate(-40deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

/*  Selecting the images with hovering state,
    inside the company-social-media class ancestor.
    
    animation: sway 0.4s linear; -> Applying the sway animation to the image.
    opacity: 0.8; -> Setting the opacity of the image to 0.8, to make the color lighter.

*/
.company-social-media img:hover {
  animation: sway 0.4s linear;
  opacity: 0.8;
}

/* Setting the default style of our buttons. Adding rounded corners */
button {
  background-color: #f5f5f5;
  border: 1px solid black;
  border-radius: 10px;
  height: 35px;
  width: 117px;
  margin: 5px;
  cursor: pointer;
}

/* Setting green color for the submit buttons */
.btn-submit {
  background-color: rgb(25, 157, 200);
  color: white;
}

/* Setting red color for the reset button */
.btn-reset {
  background-color: rgb(225, 0, 0);
  color: white;
}

/* Reducing opacity when hovering */
.btn:hover {
  opacity: 0.7;
}

/* Adding red color for price trends */
#price-trend {
  color: red;
  font-weight: normal;
}

/* Setting default width for the table elements */
table {
  background-color: #f1d6b5;
  border-collapse: collapse;
  width: 350px;
}

/* Aligning the content of the rows to the left */
tr > * {
  text-align: left;
  border: 1px solid black;
}

/* Adding bold font for better UX */
.listing-characteristics {
  font-weight: bold;
}

/* Adjusting the size of the captions and making it bold */
table > caption {
  font-weight: bold;
  font-size: 1.1rem;
}

/* Adding minor padding fo rbetter readability */
tr > * {
  padding: 5px;
}

/* Alternating row colors */
tr:nth-child(odd) {
  background-color: #fbe8d2;
}

/* Adding some margin for better spacing */
table {
  margin: 2rem 0px;
}

/* Create a card like listing */
.listing {
  background-color: #fcfbfb;
  height: 40rem;
  width: 25rem;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* Adding a small shadow when hovering */
.listing:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* Setting custom image size */
.listing img {
  height: 15rem;
  width: 18rem;
}

/* Adding black color to the hovered cards */
a.card:hover {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

a.card:visited,
a.card:link {
  color: black;
}

/* Setting the image size inside each category */
.category img {
  height: 20rem;
  width: 30rem;
}

/* Setting the edges to rounded, and aligning the text to the center */
.category {
  width: 60%;
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: center;
}

#team > article {
  text-align: center;
}

/* Setting custom image size for the team members, and making them rounded */
#team > article > figure > img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 1rem;
}
/* Adding a sticky header to the page top */
header {
  position: sticky;
  top: 0rem;
  padding: 0.2rem;
  background-color: #f5f5f5;
  width: 100%;
  margin-bottom: 1rem;
}

header li {
  display: inline;
  margin: 0px 2rem;
}

header a:hover {
  color: darkblue;
}

.company-social-media li {
  display: inline;
}

/* Set the full parent width to the footer */
footer {
  position: relative;
  bottom: -10px;
  width: 100%;
  background-color: #333; /* Add background color as needed */
  color: #fff; /* Add text color as needed */
  padding: 8px;
  text-align: center;
}

/* Setting custom height for the company logo */
.company-logo {
  height: 100px;
  border-radius: 50%;
  float: left;
}

/* Setting custom size for the images inside the apartment cards */
.apartment > img {
  height: 15rem;
  width: 20rem;
  max-width: 100%;
  max-height: 100%;
}
